.board-page {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #fff;

  /deep/ {
    canvas {
      transform: translateZ(0);
    }
  }

  .board-container-wrapper {
    display: flex;
    flex: 1;
    margin: 10px 10px 0;
    border: 1px solid #eee;
    overflow: hidden;
    position: relative;
    justify-content: center;
    align-items: center;
    background: #fff;

    #board-container {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      z-index: 10;
      display: inline-block;
      background-color: #fff;

      /deep/ .konvajs-content {
        transition: opacity 0.5s;
        opacity: 1;

        &.invisible {
          opacity: 0;
        }
      }
    }

    .mini-menu {
      z-index: 20;
    }

    .tool-box-mask {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 11;
    }
  }

  .tool-wrapper {
    position: relative;
    margin: 10px;
    z-index: 12;
  }

  .convertCanvas-wrapper {
    position: absolute;
    z-index: -10;
    top: 0;
    left: 0;
    overflow: hidden;

    .convertCanvas {
      width: 10px;
      height: 10px;
      overflow: hidden;
      position: absolute;
      z-index: -10;
      top: 0;
      left: 0;
    }
  }

  .document-navigator{
    position: absolute;
    z-index: 99;
    top: 0;
    bottom:0;
    left: 0;
    border-right: 1px solid #eee;
    width: 10%;
  }
  .toolbar-right{
    position: absolute;
    right: 10px;
    top: 10px;
    // padding: ;
  }
}